.product_card {
    /* border: 1px solid #000000; */
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.product_card button {
    width: 100%;
    padding: 10px 15px;

    background-color: white;
    border: none;
    border-radius: 10px;

    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: #333;

    cursor: pointer;
}

.product-img-home {
    border-radius: 20px;
    margin: 20px;

    width: 160px;
    height: 200px;

    object-fit: contain;
    /* 使图片完整 */
}

.product-grid {
    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 20px;
    /* 每个商品之间的间距 */
    padding: 20px;
}

.font {
    font-size: 16px;
    font-weight: 300;
}