.item-page {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    padding-right: 20px;
    padding-left: 20px;
}

.item-image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    align-items: center;
}

.item-image img {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    object-fit: contain;
}

.item-info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;

    padding-left: 50px;
}

.price {
    font-size: 24px;
    color: #e74c3c;
    font-weight: bold;
}

.info {
    font-size: 20px;
}

.flash {
    background-color: #d4edda;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

.like-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;

    border-radius: 20px;
    width: 110px;
    height: 60px;

    background-color: #fff5f5;
    border: 1.5px solid #ffb3b3;

    color: rgb(244, 110, 108);
}

.like-container:hover {
    background-color: #ffecec;
    transform: scale(1.05);
    cursor: pointer;
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-link {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.item-title {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

.btns-in-item {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: flex-end;
}