* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 15px;
    background: rgb(244, 110, 108);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: px;
}

button:hover {
    background: rgb(240, 82, 79);
}

.signup-link {
    margin-top: 15px;
    font-size: 16px;
}

.signup-link a:hover {
    text-decoration: underline;
}