.product_card {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.product_card button {
    width: 100%;
    padding: 10px 15px;

    background-color: white;
    border: none;
    border-radius: 10px;

    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: #333;

    cursor: pointer;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 20px;
    padding: 20px;

    width: 100%;
    /* 改为100%而不是固定宽度1200px */
    max-width: 1200px;
    /* 可选：限制最大宽度 */
    box-sizing: border-box;
    /* 确保padding不会导致溢出 */
    flex-wrap: nowrap;
}