<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/sell.css">
</head>

<body>
    <Section class="all-top">
        <!-- TOP -->
        <div class="top_layout">
            <div id="welcome" class="item">
                Welcome to D&B UTSC Market
            </div>

            <div id="functions" class="item">
                <div class="btns" id="sell">Sell</div>

                <div><a href="..."><img src=/static/pictures/cart.png height="25" width="30"></a></div>

                <div><a href="..."><img src=/static/pictures/account.png height="25" width="25"></a></div>
            </div>

            <div id="search" class="item">
                <img src="/static/pictures/search_icon.png" height="20" width="20">
                <input type="text" name="search" value="Search for Anything">
            </div>

            <div id="other" class="item">
                <div class="btns" id="login">Log In</div>
                <div class="btns" id="signup">Sign Up</div>
            </div>
        </div>

        <!-- Advertise-banner -->
        <div class="bottom">
            <img src="/static/pictures/banner.jpg" class="banner">
        </div>
    </Section>

    <!-- Category and OTHER -->
    <section class="cate_and_OTHER">
        <!-- Category -->
        <section id="category" class="cate">
            <h3>Category</h3>

            <div>
                <form action="/category" method="POST">
                    <ul class="cate-list">
                        <li><a href="{{ url_for('filter_page', category='Automotive') }}">Automotive</a></li>

                        <li><a href="{{ url_for('filter_page', category='Baby Care') }}">Baby Care</a></li>

                        <li><a href="{{ url_for('filter_page', category='Bags, Wallets & Belts') }}">Bags, Wallets & Belts</a></li>

                        <li><a href="{{ url_for('filter_page', category='Beauty and Personal Care') }}">Beauty and Personal Care</a></li>

                        <li><a href="{{ url_for('filter_page', category='Clothing') }}">Clothing</a></li>

                        <li><a href="{{ url_for('filter_page', category='Footwear') }}">Footwear</a></li>

                        <li><a href="{{ url_for('filter_page', category='Furniture') }}">Furniture</a></li>

                        <li><a href="{{ url_for('filter_page', category='Home Decor & Festive Needs') }}">Home Decor & Festive Needs</a></li>

                        <li><a href="{{ url_for('filter_page', category='Home Furnishing') }}">Home Furnishing</a></li>

                        <li><a href="{{ url_for('filter_page', category='Jewellery') }}">Jewellery</a></li>

                        <li><a href="{{ url_for('filter_page', category='Kitchen & Dining') }}">Kitchen & Dining</a></li>

                        <li><a href="{{ url_for('filter_page', category='Mobiles & Accessories') }}">Mobiles & Accessories</a></li>

                        <li><a href="{{ url_for('filter_page', category='Pens & Stationery') }}">Pens & Stationery</a></li>

                        <li><a href="{{ url_for('filter_page', category='Sports & Fitness') }}">Sports & Fitness</a></li>

                        <li><a href="{{ url_for('filter_page', category='Tools & Hardware') }}">Tools & Hardware</a></li>

                        <li><a href="{{ url_for('filter_page', category='Toys & School Supplies') }}">Toys & School Supplies</a></li>

                        <li><a href="{{ url_for('filter_page', category='Watches') }}">Watches</a></li>
                        
                    </ul>
                </form>
            </div>
        </section>
        <!-- Additinal content in index or other pages -->
        <section class="header_and_list">
            {% block content %}
            {% endblock %}
        </section>
    </section>

    <script src="/static/main.js"></script>
</body>

</html>