{% extends "base.html" %}

{% block content %}

<h1>All Items</h1>

<div class="product-grid">
    {% for item in items %}
    <div class="product_card">

        <form action="/item" method="POST">
            <input type="hidden" name="item_id" value="{{ item[0] }}">

            <button type="submit" class="img-btn">
                <img src="{{ item[4] }}" class="product-img-index">
            </button>
        </form>

        <h3>{{ item[1] }}</h3>

        <p class="font">Price: ${{ item[3] }} </p>

    </div>
    {% endfor %}
</div>
{% endblock %}