{% extends "base.html" %}

{% block content %}

<div>
    <!-- Items You Need -->
    <div class="index-header" id="may-need">
        <h2>🆕 New Arrivals:</h2>
    </div>

    <div class="index-list">
        {% for item in new_items %}
        <form action="/item" method="GET">
            <input type="hidden" name="item_id" value="{{ item[0] }}">

            <button type="submit" class="img-btn">
                <img src="{{ item[4] }}" class="product-img-index">
            </button>
        </form>
        {% endfor %}
    </div>

    <!-- Featured Items -->
    <div class="index-header" id="features">
        <h2>👍 Feature Items:</h2>
    </div>

    <div class="index-list">
        {% for item in feature_items %}
        <form action="/item" method="GET">
            <input type="hidden" name="item_id" value="{{ item[0] }}">

            <button type="submit" class="img-btn">
                <img src="{{ item[4] }}" class="product-img-index">
            </button>
        </form>
        {% endfor %}
    </div>

    <!-- Exam Items -->
    <div class="index-header" id="features">
        <h2>✍️ Exam Essentials:</h2>
    </div>

    <div class="index-list">
        {% for item in exam_items %}
        <form action="/item" method="GET">
            <input type="hidden" name="item_id" value="{{ item[0] }}">

            <button type="submit" class="img-btn">
                <img src="{{ item[4] }}" class="product-img-index">
            </button>
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}