{% extends "base.html" %}

{% block content %}

<div class="item-page">
    <div class="item-image">
        <img src="{{ item[4] }}">
    </div>

    <div class="item-info">
        <h1>{{ item[1] }}</h1>

        <p class="price">Price: ${{ item[3] }}</p>

        <p class="info"><strong>like: </strong>{{ item[8] }}</p>

        <p class="info"><strong>Category: </strong>{{ item[2] }}</p>

        <p class="info"><strong>Condition: </strong>{{ item[6] }}</p>

        <p class='info'>
            <strong>Specifications:</strong>
            {% if item[5] %}
            {{ item[5]}}
            {% else %}
            No specifications available.
            {% endif %}
        </p>
    </div>

    <div class="btns-in-item">
        <a href="/like?item_id={{ item[0] }}" class="btn" id="like">❤️ LIKE</a>
    </div>
</div>

<div>
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
    <div class="flash">{{ msg }}</div>
    {% endfor %}
    {% endwith %}
</div>

{% endblock %}