{% extends "base.html" %}

{% block content %}

<div class="item-page">
    <div class="item-image">
        <img src="{{ item[4] }}">
    </div>

    <div class="item-info">
        <h1>{{ item[1] }}</h1>

        <p class="price">Price: ${{ item[3] }}</p>

        <p class="info"><strong>Category: </strong>{{ item[2] }}</p>

        <p class="info"><strong>Condition: </strong>{{ item[6] }}</p>

        <p class='info'>
            <strong>Specifications:</strong><br>
            {% if item[5] %}
        <div style="white-space: pre-line; font-size: 20px;">{{ item[5] }}</div>
        {% else %}
        This seller didn't write specifications.
        {% endif %}
        </p>
        
    </div>

    <a href="/like?item_id={{ item[0] }}" id="like" class="like-link">
        <div class="like-container">
            <div class="heart">
                <p>❤️</p>
            </div>

            <div>
                <p class="info"><strong>{{ item[8]}} likes</strong></p>
            </div>
        </div>
    </a>

    <div class="btns-in-item">
        <button id="buyBtn" class="btn">Buy</button>
    </div>
</div>

<div id="modalOverlay" class="modal-overlay">
    <div class="modal-box">

        <span id="closeBtn" class="close-btn">✖</span>

        <h2>Seller Information</h2>

        {% if seller %}
            <p><strong>Name:</strong> {{ seller[1] }}</p>
            <p><strong>Email:</strong> {{ seller[2] }}</p>
        {% else %}
            <p>No seller info</p>
        {% endif %}

    </div>
</div>


<div>
    {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
    <div class="flash">{{ msg }}</div>
    {% endfor %}
    {% endwith %}
</div>



{% endblock %}