{% extends "base.html" %}

{% block content %}

<p class="header"> Hey, {{username}}</p>
<h3>Name: {{username}}</h3>
<h3>Email address: {{email}}</h3>
(Note: Email address will be visible to buyers)
<br>
<br>

<div>
    <div class="index-header">
        <h3>Items you posted:</h3>
        <button class="btn" id="see-all"><a href="/profile_post_all" class="link">View All</a></button>
    </div>

    <div class=" info">
        {% if not item_post %}
        <p>You haven't posted any items yet. Start by posting your first item!</p>
        {% endif %}
    </div>

    <div class="product-grid">
        {% for item in item_post %}
        <div class="product_card">
            <form action="/item" method="GET">
                <input type="hidden" name="item_id" value="{{ item[0] }}">
                <button type="submit">
                    <img src="{{ item[4] }}" class="product-img-index">
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}